<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.indoorlocalization" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".LocationFinder"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.abhishek.indoorlocalization.LocatorDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".LocationFinder" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationFinder" />
        </activity>

        <activity android:name="com.example.abhishek.indoorlocalization.FindOnMap"
            android:label="Indoor Localization"
            android:screenOrientation="landscape"
            android:parentActivityName=".LocatorDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocatorDetailsActivity"/>
        </activity>

    </application>

</manifest>
